@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&family=Raleway:wght@300;500;700&display=swap');

// font-family: 'Open Sans', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;

$primary-bg-color : #F2E7DC;
$primary-text-color : #4E666C;
$secondary-text-color : #6A7B80;
$accent-color: #A4B5A9;

@mixin basic-font {
    font-family: 'Playfair Display', serif;
    color: $primary-text-color;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-bg-color;
    position: relative;
    min-height: 100vh;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    color: $primary-text-color;
    text-align: center;
    padding: 0 1vw .5vh;
 }

.line-1 {
    width: 80vw;
    height: 2px;
    background-color: $accent-color;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#landing-container {
    display: flex;
    flex-flow: column wrap;
    padding: 20vh 2% 20vh;
}

#sitemap {
    padding-top: 1vh;
    text-align: center;
    li {
        @include basic-font ();
        text-decoration: none;
        list-style: none;
        font-size: 2em;
        padding: .5vh;
    }
    li:hover {
        transform: scale(1.2);
    }
    a:link, a:visited {
        color: $primary-text-color;
        text-decoration: none;
    }
}

#landing-comment {
    display: none;
    color: $primary-text-color;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: larger;
}

footer{
    position: absolute;
    bottom: 2%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
    .logo-container {
        bottom: 1%;
        left: 1%;
        display: flex;
        justify-content: center;
        width: 100%;
        .logos {
            width: 2em;
            margin-left: 10px;
        }
        .logos:hover {
            transform: scale(1.1)
        }
    }
    p {
        @include basic-font();
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 8vw;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-between;
        li {
            margin: 0 4vw 0;
            font-size: 7vw;
        }
    }
    #landing-comment {
        display: block;
    }
}